<div class="container">
  <form action="">
<h1>Registration Form</h1>
<app-registration [lable_name]="lableData.name" (outputdata)="nameOutput($event);"></app-registration>
<app-registration [lable_name]="lableData.email" (outputdata)="emailOutput($event);"></app-registration>
<app-registration [lable_name]="lableData.phone" (outputdata)="phoneOutput($event);"></app-registration>
<input type="button" name="" id="" value="createAccount" class="btn btn-success" (click)="createAccount();">
</form>
</div>